In [1]:
import pandas as pd
import numpy as np
from scipy.stats import pointbiserialr

from utils.utils import *
from utils.pre_processing import *

# Datasets Originais

In [2]:
true_user_data = pd.read_csv('data/true_user_data.csv')
true_user_data = true_user_data[[col for col in true_user_data.columns if 'Unnamed' not in col]]
true_user_data

,id,game_count,80_playtime_forever,20_playtime_forever,4000_playtime_forever,400_playtime_forever,17390_playtime_forever,550_playtime_forever,47870_playtime_forever,105600_playtime_forever,...,461350_playtime_forever,2544720_playtime_forever,1144030_playtime_forever,1984230_playtime_forever,896950_playtime_forever,1715280_playtime_forever,346370_playtime_forever,38230_playtime_forever,439800_playtime_forever,33390_playtime_forever
0,76561198356825656,143,63.0,12.0,7123.0,1.0,1571.0,8.0,469.0,25468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,76561198880066501,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,76561198124297820,113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,832.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,76561199521464666,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,76561199079408421,215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4457,76561198044540305,270,NaN,NaN,NaN,192.0,NaN,128.0,NaN,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
4458,76561199049890385,93,NaN,NaN,929.0,NaN,NaN,104.0,NaN,792.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
4459,76561198804331859,80,15.0,NaN,NaN,NaN,NaN,NaN,NaN,456.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4460,76561198124834464,172,NaN,NaN,13839.0,NaN,NaN,NaN,NaN,2980.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4461,76561197984637603,100,NaN,NaN,NaN,218.0,NaN,30.0,977.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,166.0

In [13]:
final_reviews = pd.read_csv('data/final_reviews.csv')
final_reviews = final_reviews[[col for col in final_reviews.columns if 'Unnamed' not in col]]
final_reviews[['steamid','playtime_forever','num_reviews','num_games_owned','voted_up']]

,steamid,playtime_forever,num_reviews,num_games_owned,voted_up
0,76561199098034787,303,13,0,True
1,76561199013405597,82,12,0,False
2,76561199173536454,437,1,0,True
3,76561199118169519,88,2,0,False
4,76561198809081703,4957,2,18,True
...,...,...,...,...,...
299995,76561198126998401,5875,13,305,True
299996,76561198318872148,10328,1,0,True
299997,76561198175680795,414,7,738,False
299998,76561198148166088,13976,25,497,True
299999,76561198298563164,1371,28,107,True

In [4]:
df_tags = pd.read_csv('data/df_tags.csv')
df_tags = df_tags[[col for col in df_tags.columns if 'Unnamed' not in col]]
df_tags

,id,game_count,Action,FPS,Military,Online Co-Op,Strategy,Adventure,Survival,Atmospheric,...,Benchmark,Political Sim,Logic,Trains,On-Rails Shooter,Medical Sim,Conspiracy,Chess,Submarine,Faith
0,76561198356825656,143,87439.0,11477.0,568.0,52132.0,19822.0,59639.0,34806.0,59057.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,76561198880066501,24,12942.0,10925.0,7447.0,10134.0,9067.0,1463.0,2696.0,2922.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,76561198124297820,113,356913.0,187850.0,451.0,133566.0,12415.0,240115.0,20450.0,234357.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,76561199521464666,73,24741.0,11571.0,10649.0,17009.0,11928.0,5022.0,404.0,7928.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,76561199079408421,215,191710.0,39479.0,19153.0,47282.0,40466.0,180129.0,32052.0,170131.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4457,76561198044540305,270,225946.0,136078.0,2028.0,68455.0,20749.0,189776.0,95360.0,175203.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4458,76561199049890385,93,159713.0,104861.0,93002.0,128341.0,120509.0,34029.0,34572.0,40933.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4459,76561198804331859,80,175495.0,135078.0,129679.0,153553.0,131173.0,26261.0,21499.0,9554.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4460,76561198124834464,172,404551.0,305150.0,115798.0,206885.0,126363.0,210399.0,55348.0,200717.0,...,0.0,0.0,0.0,0.0,0.0,264.0,0.0,0.0,491.0,0.0
4461,76561197984637603,100,121203.0,41535.0,21772.0,87387.0,26082.0,87757.0,12654.0,56848.0,...,39.0,0.0,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0

In [8]:
df = load_data('data/df_tags','data/final_reviews')
df

,game_count,Action,FPS,Military,Online Co-Op,Strategy,Adventure,Survival,Atmospheric,Old School,...,Trains,On-Rails Shooter,Medical Sim,Conspiracy,Chess,Submarine,Faith,num_reviews,playtime_at_review,target
0,143,87439.0,11477.0,568.0,52132.0,19822.0,59639.0,34806.0,59057.0,63.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,6933,0
1,24,12942.0,10925.0,7447.0,10134.0,9067.0,1463.0,2696.0,2922.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,256,0
2,113,356913.0,187850.0,451.0,133566.0,12415.0,240115.0,20450.0,234357.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,13084,0
3,73,24741.0,11571.0,10649.0,17009.0,11928.0,5022.0,404.0,7928.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,664,0
4,215,191710.0,39479.0,19153.0,47282.0,40466.0,180129.0,32052.0,170131.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,10713,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4457,270,225946.0,136078.0,2028.0,68455.0,20749.0,189776.0,95360.0,175203.0,659.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,8516,0
4458,93,159713.0,104861.0,93002.0,128341.0,120509.0,34029.0,34572.0,40933.0,32.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,5834,0
4459,80,175495.0,135078.0,129679.0,153553.0,131173.0,26261.0,21499.0,9554.0,703.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,2985,0
4460,172,404551.0,305150.0,115798.0,206885.0,126363.0,210399.0,55348.0,200717.0,0.0,...,0.0,0.0,264.0,0.0,0.0,491.0,0.0,12,8010,0
4461,100,121203.0,41535.0,21772.0,87387.0,26082.0,87757.0,12654.0,56848.0,271.0,...,0.0,0.0,0.0,24.0,0.0,0.0,0.0,2,12718,0

In [12]:
1 - df['target'].mean()

0.9444195428059167

In [9]:
target = 'target'
target_series = df[target]
feature_columns = df.drop(columns=[target]).columns

# Initialize a dictionary to store correlation results
correlations = {}

# Iterate through each feature column
for col in feature_columns:
    if df[col].dtype in [np.float64, np.int64]:  # Check if the column is continuous
        # Calculate point biserial correlation for continuous features
        corr, _ = pointbiserialr(df[col], target_series)
    else:
        # For categorical features, calculate the correlation using a suitable method
        # Here we use Cramer's V as an example for categorical-categorical correlation
        contingency_table = pd.crosstab(df[col], target_series)
        chi2 = np.sum((contingency_table - contingency_table.mean(axis=0))**2 / contingency_table.mean(axis=0))
        n = contingency_table.sum().sum()
        r, k = contingency_table.shape
        cramer_v = np.sqrt(chi2 / (n * (min(r, k) - 1)))
        corr = cramer_v
    
    correlations[col] = np.abs(corr)

# Convert the correlations dictionary to a DataFrame for better readability
correlation_df = pd.DataFrame(list(correlations.items()), columns=['Feature', 'Absolute_Correlation'])

In [10]:
correlation_df.sort_values('Absolute_Correlation',ascending=False).head(10)

                  Feature  Absolute_Correlation
261                 Heist              0.105449
317     Gun Customization              0.096270
187               Economy              0.079738
365           num_reviews              0.078400
99                   Epic              0.066750
331         Transhumanism              0.063779
72                Stealth              0.063666
285             Political              0.060928
93   Third-Person Shooter              0.060907
265      Based On A Novel              0.060147